/**
 *****************************************
 * Created by lifx
 * Created on 2018-05-16 21:13:24
 *****************************************
 */
@charset "utf-8";


/**
 *****************************************
 * 容器样式
 *****************************************
 */
.container {
    height: 100%;
    position: relative;
    overflow-y: auto;
    z-index: 1;
}


/**
 *****************************************
 * 文档样式
 *****************************************
 */
.article {
    max-width: 1000px;
    margin: 0 auto;
}
