/**
 *****************************************
 * Created by lifx
 * Created on 2018-05-16 21:13:24
 *****************************************
 */
@charset "utf-8";


/**
 *****************************************
 * 容器样式
 *****************************************
 */
.container {
    width: 280px;
    height: 100%;
    overflow-y: auto;
    z-index: 2;
}


/**
 *****************************************
 * 选项样式
 *****************************************
 */
.actived {
    position: relative;

    &::after {
        $size: 10px;
        content: '';
        display: block;
        width: $size;
        height: $size;
        position: absolute;
        top: 50%;
        right: -.5 * $size;
        margin-top: -.5 * $size;
        background-color: white;
        transform: rotate(45deg);
    }
}
