/**
 *****************************************
 * Created by lifx
 * Created on 2018-05-16 21:13:24
 *****************************************
 */
@charset "utf-8";


/**
 *****************************************
 * 容器样式
 *****************************************
 */
.container {
    width: 280px;
    height: 100%;
    z-index: 2;
}


/**
 *****************************************
 * 列表样式
 *****************************************
 */
.list {
    overflow-x: hidden;
    overflow-y: auto;
}


/**
 *****************************************
 * 选项样式
 *****************************************
 */
.article {
    transition: color .3s ease-in-out;
    cursor: pointer;

    &.actived {
        color: #42b983;
    }
}
