/**
 *****************************************
 * Created by lifx
 * Created on 2018-05-16 21:13:24
 *****************************************
 */
@charset "utf-8";


/**
 *****************************************
 * 容器样式
 *****************************************
 */
.container {
    width: 280px;
    height: 100%;
    z-index: 2;
}


/**
 *****************************************
 * 列表样式
 *****************************************
 */
.list {
    overflow-x: hidden;
    overflow-y: auto;
}


/**
 *****************************************
 * 选项样式
 *****************************************
 */
.article {
    transition: color .3s ease-in-out;
    cursor: pointer;

    &.actived {
        color: #42b983;
    }
}


/**
 *****************************************
 * 图标设置
 *****************************************
 */
.icon-calendar,
.icon-tag {
    $size: 16px;
    display: inline-block;
    width: $size;
    height: $size;
    margin-right: 5px;
    vertical-align: text-bottom;
}


/**
 *****************************************
 * 日期图标
 *****************************************
 */
.icon-calendar {
    background: url(../images/ios-calendar.svg) no-repeat center;
    background-size: contain;
}


/**
 *****************************************
 * 标签图标
 *****************************************
 */
.icon-tag {
    background: url(../images/ios-tag.svg) no-repeat center;
    background-size: contain;
}
