/**
 *****************************************
 * Created by lifx
 * Created on 2018-05-17 12:45:11
 *****************************************
 */
@charset "utf-8";


/**
 *****************************************
 * 输入框样式
 *****************************************
 */
.input {
    display: block;
    width: 100%;
    height: 100%;
    padding: 7px 30px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    outline: 0;
    font-size: 14px;
    line-height: 18px;
    background: none;
    background-color: #f1f1f1;
    box-shadow: inset 0 0 1px 0 rgba(black, .15);
}
